<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Damián Bermúdez">
    <meta name="Description" content="Aplicación web que facilita los procesos administrativos de una explotación porcina">
    <link rel="stylesheet" href="styles.css">
    <title>Consultar Cliente</title>    
</head>
<body>
   <header>
    <div class="contenedor">
        <div class="encabezado">
            <h1>Bienvenidos a Porksystem</h1>
            <img src="https://img.freepik.com/fotos-premium/cerdo-aislado_136670-924.jpg" alt="lechon" />
        </div>
        
            <nav>
            
                <a href="alimentacion.html" >Alimentación</a>
                <a href="ceba.html">Ceba</a>
                <a href="cliente.html">Cliente</a>
                <a href="mortalidad.html">Mortalidad</a>     
                <a href="vacunacion.html">Vacunación</a> 
                <a href="#">Venta</a> 
  
            
            </nav>
        
    </div>
   </header>
   
   <main> 
        <div class="div_consultas">
            <fieldset>
                <h3>Consultar por fecha</h3>
                    <form action="#" method="post" class="form_consultas">
                        <div class="fechas">
                            <label for="fecha_calimentacion_uno">Desde:
                                <input type="date" name="fecha_calimentacion_uno" required>
                            </label>                        
                        </div>
                        <div class="fechas">
                            <label for="fecha_calimentacion_uno">Hasta:
                                <input type="date" name="fecha_calimentacion_dos" required>
                            </label>
                        </div>  
                        <button type="submit">Listar</button>
                    </form> 
            </fieldset>
        </div>
        <div class="div_consultas">
            <fieldset>
                <h3>Consultar por NIT</h3>
                    <form action="#" method="post" class="form_consultas">
                        
                        <div class="fechas">
                            <label for="num_lote">NIT:
                                <input type="text" name="num_lote" required>
                            </label>
                        </div>  
                        <button type="submit">Listar</button>
                    </form> 
            </fieldset>
        </div>
   </main>

   <aside>
    <ul>
        <li><a href="index.html">Inicio</a></li><br>
        <li><a href="registrar_cliente.html" >Nuevo Registro</a></li><br>
        <li><a href="consultar_cliente.html" class="visitado">Consultar Registro</a></li><br>              
    </ul>        
</aside>

   <footer>
    <small>&copy; Diseñado por Damián Esteban Bermúdez Quiceno 2024</small>
   </footer>
</body>
</html>