<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Damián Bermúdez">
    <meta name="Description" content="Aplicación web que facilita los procesos administrativos de una explotación porcina">
    <link rel="stylesheet" href="styles.css">
    <title>Registrar Cliente</title>    
</head>
<body>
   <header>
    <div class="contenedor">
        <div class="encabezado">
            <h1>Bienvenidos a Porksystem</h1>
            <img src="https://img.freepik.com/fotos-premium/cerdo-aislado_136670-924.jpg" alt="lechon" />
        </div>
        
            <nav>
            
                <a href="alimentacion.html">Alimentación</a>
                <a href="ceba.html">Ceba</a>
                <a href="cliente.html"  class="visitado">Cliente</a>
                <a href="mortalidad.html">Mortalidad</a>     
                <a href="vacunacion.html">Vacunación</a> 
                <a href="#">Venta</a> 
  
            
            </nav>
        
    </div>
   </header>
   
   <main>
         <form action="#" method="post" class="registrar">
            <label for="fecha_alta">Fecha:
                <input type="date" name="fecha_alta" required>
            </label>
            <label for="num_nit">NIT:
                <input type="text" name="num_nit" required>
            </label>
            <label for="nom_cliente"> Razón Social:
                <input type="text" name="nom_cliente">
            </label>
            <label for="contacto_cliente"> Contacto:
                <input type="text" name="contacto_cliente">
            </label>
            <label for="dir_cliente"> Dirección:
                <input type="text" name="dir_cliente">
            </label>
            <button type="submit">Registrar</button>
         </form>  
   </main>

   <aside>
    <ul>
        <li><a href="index.html">Inicio</a></li><br>
        <li><a href="registrar_cliente.html" class="visitado">Nuevo Registro</a></li><br>
        <li><a href="consultar_cliente.html">Consultar Registro</a></li><br>              
    </ul>        
</aside>

   <footer>
    <small>&copy; Diseñado por Damián Esteban Bermúdez Quiceno 2024</small>
   </footer>
</body>
</html>